In [27]:
import numpy as np
import pandas as pd
import lightkurve as lk 
import matplotlib.pyplot as plt
import astropy.table as tb
from astropy.io import ascii
import re

In [2]:
tics=ascii.read('ticresults.dat')
epics=ascii.read('epicresults.dat')

In [3]:
id_table=pd.read_csv('Full_complex_sarah - Objects and References.csv')

In [4]:
id_table=id_table[['pop_id','TIC','gaiadr3_source_id','epic_id']]

In [5]:
id_table['tess_sectors']=""
id_table['K2_campaign']=""

In [6]:
id_table['TIC']=id_table['TIC'].astype('Int64').astype('string')
id_table['epic_id']=id_table['epic_id'].astype('Int64').astype('string')

In [7]:
id_table

     pop_id        TIC  gaiadr3_source_id    epic_id tess_sectors K2_campaign
0         0   59129133       3.392549e+18  246676629
1         1   59091144       3.392554e+18  246682490
2         2  118769116       3.411342e+18  247343526
3         3  175594111       6.045819e+18  203354381
4         4  322928171       6.048613e+18  203636498
..      ...        ...                ...        ...          ...         ...
192     192  245792696       3.312904e+18  210554781
193     193  268510346       1.479407e+17  247888948
194     194  245869001       3.313385e+18  246932950
195     195   60005364       1.471822e+17  247857331
196     196       <NA>       3.308598e+18  246650193

[197 rows x 6 columns]

In [8]:
ticdf=tics.to_pandas()

In [9]:
for index, row in id_table.iterrows():
    curtic=row['TIC']
    if pd.isna(curtic):
        continue
    sectorlist=""
    for index2, row2 in ticdf.iterrows():
        if row2['target_name']==curtic:
            sectorlist=sectorlist+row2['mission']+" "+row2['project_products']+" "+str(row2['exptime'])+"s "
    id_table.at[index,'tess_sectors']=sectorlist

In [10]:
id_table

,pop_id,TIC,gaiadr3_source_id,epic_id,tess_sectors,K2_campaign
0,0,59129133,3.392549e+18,246676629,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,
1,1,59091144,3.392554e+18,246682490,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,
2,2,118769116,3.411342e+18,247343526,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,
3,3,175594111,6.045819e+18,203354381,TESS Sector 91 SPOC 120s TESS Sector 91 QLP 200s,
4,4,322928171,6.048613e+18,203636498,TESS Sector 91 SPOC 120s,
...,...,...,...,...,...,...
192,192,245792696,3.312904e+18,210554781,TESS Sector 70 TESS-SPOC 200s TESS Sector 71 T...,
193,193,268510346,1.479407e+17,247888948,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,
194,194,245869001,3.313385e+18,246932950,TESS Sector 43 TESS-SPOC 600s TESS Sector 44 T...,
195,195,60005364,1.471822e+17,247857331,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,
196,196,<NA>,3.308598e+18,246650193,,

In [22]:
epicdf=epics.to_pandas()

In [30]:
for index, row in id_table.iterrows():
    curepic=row['epic_id']
    if pd.isna(curepic):
        continue
    camplist=""
    for index2, row2 in epicdf.iterrows():
        if re.sub(r'^\D+', '', row2['target_name'])==curepic:
            camplist=camplist+row2['mission']+" "+row2['project_products']+" "+str(row2['exptime'])+"s "
    id_table.at[index,'K2_campaign']=camplist

In [32]:
id_table

,pop_id,TIC,gaiadr3_source_id,epic_id,tess_sectors,K2_campaign
0,0,59129133,3.392549e+18,246676629,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,K2 Campaign 13 K2 1800s K2 Campaign 13 EVEREST...
1,1,59091144,3.392554e+18,246682490,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,K2 Campaign 13 K2 1800s K2 Campaign 13 EVEREST...
2,2,118769116,3.411342e+18,247343526,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,K2 Campaign 13 K2 1800s K2 Campaign 13 EVEREST...
3,3,175594111,6.045819e+18,203354381,TESS Sector 91 SPOC 120s TESS Sector 91 QLP 200s,K2 Campaign 02 K2 1800s K2 Campaign 02 EVEREST...
4,4,322928171,6.048613e+18,203636498,TESS Sector 91 SPOC 120s,K2 Campaign 02 K2 1800s K2 Campaign 02 EVEREST...
...,...,...,...,...,...,...
192,192,245792696,3.312904e+18,210554781,TESS Sector 70 TESS-SPOC 200s TESS Sector 71 T...,K2 Campaign 13 K2 60s K2 Campaign 13 K2 1800s ...
193,193,268510346,1.479407e+17,247888948,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,K2 Campaign 13 K2 60s K2 Campaign 13 K2 1800s ...
194,194,245869001,3.313385e+18,246932950,TESS Sector 43 TESS-SPOC 600s TESS Sector 44 T...,K2 Campaign 13 K2 1800s K2 Campaign 13 EVEREST...
195,195,60005364,1.471822e+17,247857331,TESS Sector 43 SPOC 120s TESS Sector 44 SPOC 1...,K2 Campaign 13 K2 60s K2 Campaign 13 K2 1800s ...
196,196,<NA>,3.308598e+18,246650193,,K2 Campaign 13 K2 1800s K2 Campaign 13 EVEREST...

In [34]:
id_table.to_csv('availablelightcurves.csv', index=False)