In [3]:
import numpy as np
import pandas as pd

In [5]:
dtypes={'pop_id':'string','TIC':'string','gaiadr3_source_id':'string','epic_id':'string'}

In [7]:
df=pd.read_csv('Full_complex_sarah - Objects and References.csv',dtype=dtypes)

In [9]:
idtable=df[['pop_id','TIC','gaiadr3_source_id','epic_id','per','group','age_Myr']]

In [11]:
papertable=df.drop(columns=['pop_id','TIC','gaiadr3_source_id','epic_id','per'])

In [13]:
idtable['disco_paper']=""

/var/folders/zd/14hqhh8n6v122yj77t47nyv40000gn/T/ipykernel_74372/2757942557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idtable['disco_paper']=""

In [15]:
for index, idrow in idtable.iterrows():
    paperrow=papertable.loc[index]
    for papercol in papertable.columns:
        value=paperrow[papercol]
        if value=='First CR determination':
            idtable.at[index,'disco_paper']=papercol

In [17]:
idtable

,pop_id,TIC,gaiadr3_source_id,epic_id,per,group,age_Myr,disco_paper
0,0,59129133,3392549449695395968,246676629,0.625300,Taurus,2.0,Stauffer_2018
1,1,59091144,3392553852037339776,246682490,0.437700,Taurus,2.0,Stauffer_2018
2,2,118769116,3411342134934571520,247343526,0.356800,Taurus,2.0,Stauffer_2018
3,3,175594111,6045818685674325760,203354381,0.599300,Upper Scorpius,8.0,Stauffer_2018
4,4,322928171,6048612514663537280,203636498,0.779400,Upper Scorpius,8.0,Stauffer_2018
...,...,...,...,...,...,...,...,...
203,203,301676454,3795298673460008064,<NA>,0.382500,Argus,45.0,Bouma_2024
204,204,58084670,2034818379464853376,<NA>,0.465000,Field,NaN,Bouma_2024
205,205,67745212,3191994547355916288,<NA>,0.213333,Columba,42.0,Bouma_2024
206,206,5714469,3493814268751183744,<NA>,0.431250,UCL,16.0,Bouma_2024
207,207,259586708,4784133288986121728,<NA>,22.520000,Columba,42.0,Bouma_2024

In [19]:
idtable[['author', 'year']] = idtable['disco_paper'].str.split('_', expand=True)

/var/folders/zd/14hqhh8n6v122yj77t47nyv40000gn/T/ipykernel_74372/274077772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idtable[['author', 'year']] = idtable['disco_paper'].str.split('_', expand=True)
/var/folders/zd/14hqhh8n6v122yj77t47nyv40000gn/T/ipykernel_74372/274077772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idtable[['author', 'year']] = idtable['disco_paper'].str.split('_', expand=True)

In [21]:
idtable.to_csv('idswithdiscopaper.csv', index=False)

In [23]:
gaiaonly=idtable[idtable['gaiadr3_source_id']!='']

In [25]:
gaiaonly.to_csv('ourgaiaids.csv', index=False)