In [1]:
import numpy as np
import pandas as pd
import lightkurve as lk

In [2]:
#result=lk.search_tesscut(str('TIC 452345586')).table.to_pandas()

In [3]:
#resultsmall=result[['sequence_number','exptime']]

In [4]:
#resultsmall

In [5]:
#tic_ids=np.array(['452345586','92574021'])

In [6]:
#tic_ids

In [7]:
#tic_names=np.array(["TIC "+ID for ID in tic_ids])

In [8]:
#tic_names

In [9]:
#obs_time=np.zeros((tic_names.size,100))

In [10]:
#obs_time.shape

In [11]:
def getexptime(result,sector):
    time=result.query('sequence_number=='+str(sector))['exptime']
    if time.size==0:
        return 0
    else:
        return time.iloc[0]

In [12]:
#getexptime(result,10)

In [13]:
# for pop_id in range(obs_time.shape[0]):
#     name=tic_names[pop_id]
#     result=lk.search_tesscut(name).table.to_pandas()
#     for sector in range(obs_time.shape[1]):
#         obs_time[pop_id,sector]=getexptime(result,sector)

In [14]:
#obs_time

In [15]:
def get_times(tic_ids):
    tic_names=np.array(["TIC "+ID for ID in tic_ids])
    obs_time=np.zeros((tic_names.size,100))
    for pop_id in range(obs_time.shape[0]):
        name=tic_names[pop_id]
        try:
            result=lk.search_tesscut(name).table.to_pandas()
            for sector in range(obs_time.shape[1]):
                obs_time[pop_id,sector]=getexptime(result,sector)
        except:
            print("No information for "+name)
    return obs_time

In [16]:
#times=get_times(tic_ids)

In [17]:
#times==obs_time

In [18]:
id_table=pd.read_csv('Full_complex_sarah - Objects and References.csv')

In [19]:
tic_ids=id_table['TIC'].values.astype(int).astype(str)

/var/folders/zd/14hqhh8n6v122yj77t47nyv40000gn/T/ipykernel_85760/3311929763.py:1: RuntimeWarning: invalid value encountered in cast
  tic_ids=id_table['TIC'].values.astype(int).astype(str)

In [20]:
times=get_times(tic_ids)

No data found for target "TIC 220765024".

No information for TIC 220765024

Could not resolve TIC 0 to a sky position.

No information for TIC 0
No information for TIC 0
No information for TIC 0
No information for TIC 0
No information for TIC 0

In [41]:
np.savetxt("tesstimes.csv", times, delimiter=",", fmt="%.2f")

In [49]:
get_times(np.array(["59129133"])) #checking that the first column is for sector 0

array([[   0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
        1425.599416,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,  475.199789,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,  475.19979 ,  475.19979 ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,  158.39993 ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ,
           0.      ,    0.      ,    0.      ,    0.      ,    0.      ]])

In [55]:
lk.search_tesscut("TIC 59129133").table.to_pandas()

,description,mission,target_name,targetid,t_min,exptime,productFilename,provenance_name,author,distance,sequence_number,project,obs_collection,#,year,sort_order
0,TESS FFI Cutout (sector 5),TESS Sector 05,TIC 59129133,TIC 59129133,58437.484215,1425.599416,TESScut,TESScut,TESScut,0.0,5,TESS,TESS,None,2018,9
1,TESS FFI Cutout (sector 32),TESS Sector 32,TIC 59129133,TIC 59129133,59173.726953,475.199789,TESScut,TESScut,TESScut,0.0,32,TESS,TESS,None,2020,9
2,TESS FFI Cutout (sector 43),TESS Sector 43,TIC 59129133,TIC 59129133,59473.667283,475.199790,TESScut,TESScut,TESScut,0.0,43,TESS,TESS,None,2021,9
3,TESS FFI Cutout (sector 44),TESS Sector 44,TIC 59129133,TIC 59129133,59499.690319,475.199790,TESScut,TESScut,TESScut,0.0,44,TESS,TESS,None,2021,9
4,TESS FFI Cutout (sector 71),TESS Sector 71,TIC 59129133,TIC 59129133,60233.532691,158.399930,TESScut,TESScut,TESScut,0.0,71,TESS,TESS,None,2023,9